
   
body {
  background-color: white;
  font-family: 'Segoe UI', sans-serif;
  padding: 20px;
  margin: 0;
  line-height: 1.6;
  
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

h3 {
  color: green;
  margin-top: 20px;
}

ul {
  list-style-type: circle;
  padding-left: 20px;
  color: black;
  font-size: 1.1rem;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}
.greens{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 4em;
    font-size: x-large;
}
.veg-imag img{
    align-items: center;
    justify-content: center;
    text-align: center;
 margin-left: 45vh;

}
#showImage{
 
align-items: center;
text-align: center;
justify-content: center;
margin-left: 30em;
font-size: 1.5em;
}

#veges{
margin-left: 50em;
}

#copy{
  align-items: center;
  justify-content: center;
  text-align: center;
}
#paragrap1{
  font-size: xx-large;
}
#toggle-button{
  font-size: 1.5em;
}

@media screen and (max-width: 789px) {
  #showImage{
    font-size: 1em;
    margin-left: 30%;
    
  }
  #veges{
    margin-left: 30%;
  }
  

#image3{
 


}
.greens{
  font-size: 1em;
}
}

@media screen and (min-width: 600px) {
  #showImage {
  margin-left: 40%;
  font-weight: 0;
  
  }
  #veges{
    margin-left: 40%;
  }
  #toggle-button{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1em;

  }
  #image-container{

  }
  
}